@import "./../../tokens.scss";

.hero {
    @include size(100%, 100vh);
    @include backgroundImgCover();
    display: flex;
    padding: $paddingSize $paddingSize*3;
    align-items: center;
    @media only screen and (min-width: $xxl) {
      justify-content: center;
      align-items: flex-end;
      
    }
    justify-content: flex-start;
    background-color: #111;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/juli-v-zemoga-app.appspot.com/o/pope.jpg?alt=media&token=553cee7d-1a69-430f-9339-960f8fd964a2");
    @media only screen and (max-width: $sm) {  
      padding: $paddingSize $paddingSize;
    }
    
    
    &:before {
      content: " ";
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      @include size(100vw, 200px);
      background: linear-gradient(0deg,rgba($color: #222, $alpha: 0),rgba($color: #222, $alpha: 0.9));
  }
    form {
      @media only screen and (max-width: $sm) {
        @include size(100%, 70%); 
      }
      @media only screen and (min-width: $xxl) {
       
        padding-bottom: $paddingSize;;
        @include size(700px, auto); 
         }
      @include size(50%, 70%);
      color: white;
      @include flexColumn();
      justify-content: space-between;
      transform: translateY(10%);
  
      .info-container{
      padding: $paddingSize;
      @include size(100%, 100%);
      @include flexColumn();
      justify-content: flex-end;
      background-color: rgba($color: #222, $alpha: 0.5);
      backdrop-filter: blur(15px);
      
      label{
        position: relative;
        font-weight: 700;
        font-size: 22px;
      }
      label:before{
        content: "";
        display: flex;
        position: relative;
        @include size(100%, 32px);
      }
      }
  
     
      input{
        
        @include size(50%, $paddingSize*2);
      opacity: 0;
        cursor: pointer;
        position: absolute;
        &:focus{
          appearance: none;
          opacity: 1;
          background-color: transparent;
          border: solid white 2px;
          
        }
  
      }
      
      .like-dislike-containter{
        @include flexRow();
        
        label{

          
          @include size(50%,$paddingSize*2);
          display: flex;
          justify-content: center;
          
          
          img{
            height: 100%;
            padding: 25px;
            object-fit: contain; 
          }
          &.like{
            background-color: rgba($color: $colorLike, $alpha: 0.8);
            
          }
          &.dislike{
            background-color: rgba($color: $colorDislike, $alpha: 0.8);
            img{
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    z-index: 0;
  }