@import "./../../tokens.scss";

header {
  @media only screen and (max-width: $sm) {
      
    padding: $paddingSize $paddingSize;
    
  }
  @include flexRow();
  @include size(100%,60px);
    padding: 0px $paddingSize*3;
    position: absolute;
    z-index: 2;
    justify-content: space-between;  
    top: $paddingSize;
    span {
      @include flexRow();
      @include size(40%,100%);
      text-align: center;
      
      justify-content: flex-start;
      align-items: center;
    }
  
    nav {
      @include size(60%,100%);
      @include flex-center-everything();
      @include flexRow();
      
      ul {
        @include flexRow();
        list-style-type: none;
        width: 100%;
        justify-content: space-around;

        @media only screen and (max-width: $sm) {
          @include flexColumn();
        }
        li {
          width: 100%;
          text-align: right;
        }  
        .nav__link {
          font-weight: 400 !important;
          font-size: 16px !important;
          text-decoration: none;
          color: white !important;
          transition: 1s;

        }
        .nav__link:hover {
          background-color: rgba($color: #000000, $alpha: 0.5);
          text-decoration: underline !important;
          transform: scale(2) !important;
        }
      }
    }
  }

.header__logo {
    font-weight: 700 !important;
    font-size: 36px !important;
    text-decoration: none !important;
    color: white !important;
  }