@import "./mixins";



// Colors
$colorLike: teal;
$colorDislike: orange;

// Breakpoints
$xxl: 1700px;
$xl: 1280px;
$md: 1024px;
$sm: 850px;
$xs: 768px;
$maxScreenSize: 1280px;

// Spacing
$paddingSize: 40px;
$paddingSizeSm: 15px;